@font-face {
  font-family: "StarJedi";
  src: url("../../Fonts/StarJedi.eot");
  src: url("../../Fonts/StarJedi.eot?#iefix") format("embedded-opentype"),
    url("../../Fonts/StarJedi.woff2") format("woff2"),
    url("../../Fonts/StarJedi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.App {
  text-align: center;
  font-size: small;
  font-family: "StarJedi";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-table table {
  text-align: center;
}

.ant-table-thead {
  background-color: #61dafb;
}

.ant-table-thead > tr > th {
  background-color: #e0e0e0;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

p {
  color: #f9d71c;
  font-size: 20px;
}

.title {
  color: #f9d71c;
  font-size: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
